/* palette: https://colorhunt.co/palette/331d2c3f2e3ea78295efe1d1 */

*{
    color: #000000c5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    background-image: url('/Images/wp4587063-854834038.jpg');
    color: #000000ce;
    height:100%;
    width:100%;
    overflow:hidden;

}
#main {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 90%;
    
}
#sidebar {
    width: 400px;
    height:100%;
    background-color: #ffffff2c;
    backdrop-filter: blur(50px);
    filter: saturate(150%);

    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.096);

    left: -350px;

    top: 0;
    position: fixed;
    z-index: 1000;

    transition: 0.3s ease;
}

#sidebar:hover {
    left: 0;
}
#sidebar-title {
    max-width: 100%;
    padding-left: 25px;
    height: 60px;
    font-size: 24px;
    color:rgba(0, 0, 0, 0.753);
    
    display: flex;
    align-items: center;
}

#tabs-section {
    height: 45px;
    width: 100%;
    /* background-color: #331D2C; */
    display: flex;
    padding-bottom: 5px;
    padding-left: 8px;
    gap: 5px;
    align-items: center;
    border-radius: 10px 10px 0 0;
    overflow-x:scroll;

}

#tabs-section .tab-box {
    min-width: 90px;
    max-width: 200px;
    width: auto;
    box-sizing: border-box;
    font-size: 14px;

    padding: 0 15px 0 15px;
    height: 80%;

    color: rgba(255, 255, 255, 0.842);
    
    background: #ffffff57;
    filter: saturate(250%);
    backdrop-filter: blur(50px);
    /* background: none; */
    box-shadow: 3.5px 3.5px 5px rgba(0, 0, 0, 0.082);

    display:block;
    text-align: center;
    align-items: center;
    border-radius: 110px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.1s ease;

}
#tabs-section .tab-box span {
    position: relative;
    top: 18%; 
    transform: translateY(-18%);
    mix-blend-mode: difference-opacity;


}

#tabs-section .tab-box:hover {
    height:90%;

}

#add-tab-btn {
    width: 30px;
    height: 70%;
    border-radius: 14px;

    background: #ffffff3f;
    filter: saturate(400%);
    backdrop-filter: blur(50px);
    display:flex;
    padding:1px;

    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
    box-shadow: 3.5px 3.5px 5px rgba(0, 0, 0, 0.082);
}

#add-tab-btn img {
    width: 18px;
    height: 18px;
    opacity: 0.45;
}

#add-tab-btn:hover {
    cursor:pointer;

    width: 30px;
    height: 80%;
    background: #ffffff17;
}

.rename-input {
    width:100%;
    color:#000000;
    outline: 0;
    border: 0;
    background-color: transparent;
}

textarea {
    /* background: #3F2E3E; */
    background-color: #ffffff7c;
    backdrop-filter: blur(50px) saturate(200%);
    background:none;
    color: rgba(0, 0, 0, 0.658);

    width: 100%;
    height: 100%;
    max-height: 100%; 
    padding: 35px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 50px;
    
    box-shadow: #0000002c 10px 11px 20px;
    /* resize: none; */
    box-sizing: border-box;
}

/* #region Scrollbar style */
#tabs-section::-webkit-scrollbar{
    height: 5px;
}
#tabs-section::-webkit-scrollbar-thumb
{
    background: #ffffff91;
    border-radius: 40px;
}

/* #endregion */

